- name: "1.6.2.1 | Ensure AppArmor is not disabled in bootloader configuration"
  lineinfile:
      dest: /etc/default/grub
      regexp: "^GRUB_CMDLINE_LINUX="
      line: 'GRUB_CMDLINE_LINUX=apparmor="1 security=apparmor"'
      state: present
  when: ubu14gsa_config_apparmor == "true"
  tags:
    - id_1.6.2.1

- name: "1.6.2.2 |  Ensure all AppArmor Profiles are enforcing"
  shell: for profile in /etc/apparmor.d/*; do aa-enforce $profile; done
  register: aaenforce_rc
  failed_when: aaenforce_rc.rc == 1
  changed_when: False
  when: ubu14gsa_config_apparmor == "true"
  tags:
    - id_1.6.2.2
